.footer{
    height: 100px;
    background: linear-gradient(90deg, rgb(26, 222, 57) 0%, rgb(70, 190, 131) 35%, rgb(0, 255, 152) 100%);
    margin-top: 100px !important;
}

.footer-img{
    height: 20px;
    margin-top: 30px;
    margin-left: 30px;
}

.footer-text{
    padding: 30px;
    align-items: center;
    color: rgb(248, 248, 248);
}